<div id="<%= dom_id employee_datum %>">
  <%= employee_datum.employee_id %> | <%= employee_datum.employee_id %>
  <p>
    <strong>Employee:</strong>
    <%= employee_datum.employee_id %>
  </p>

  <p>
    <strong>Field:</strong>
    <%= employee_datum.field_id %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= employee_datum.value %>
  </p>

</div>
