<% content_for :title, flush: true do %>
     <b><%= participant.email %></b>
<% end %>
<%= render 'shared/dropdown_item', {d: dom_id(participant), edit_path: edit_participant_path(participant), obj: participant, opened: true} do %>
    <p>
        <strong>Email:</strong>
        <%= participant.email %>
    </p>
    <p>
        <strong>Employee:</strong>
        <%= participant.employee_id %>
    </p>
    <p>
        <strong>Role:</strong>
        <%= participant.role.name %>
    </p>
<% end %>

