<% content_for :title, flush: true do %>
    <b><%= options_calculation.grant_type.name %></b>
<% end %>
<%= render 'shared/dropdown_item', {d: dom_id(options_calculation), edit_path: edit_options_calculation_path(options_calculation), obj: options_calculation, opened: true} do %>
    <p>
      <strong>Employee:</strong>
      <%= options_calculation.employee_id %>
    </p>

    <p>
      <strong>Grant date:</strong>
      <%= options_calculation.grant_date %>
    </p>

    <p>
      <strong>Vesting start date:</strong>
      <%= options_calculation.vesting_start_date %>
    </p>

    <p>
      <strong>Cliff:</strong>
      <%= options_calculation.cliff %>
    </p>

    <p>
      <strong>Tranches:</strong>
      <%= options_calculation.tranches %>
    </p>

    <p>
      <strong>Grant type:</strong>
      <%= options_calculation.grant_type_id %>
    </p>

    <p>
      <strong>Share number:</strong>
      <%= options_calculation.share_number %>
    </p>
<% end %>
