<% if @options_calculations.size> 0 %>
  <style>
    .container-fluid {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
  </style>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        <%= t('.title') %>
      </h6>
      <br>
      <div class="h8 mb-0 text-gray-800">
        <%= t('.description') %>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
          <div class="row">
            <div class="col-sm-12">
              <br>
              <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid"
                aria-describedby="dataTable_info" style="width: 100%;">
                <thead>
                  <tr role="row">
                    <% @options_calculations[0].employee_data.each do |item| %>
                      <th style="width: auto;">
                        <%= item.field.name %>
                      </th>
                      <% end %>
                        <% @column_names_edited.each do |item| %>
                          <th style="width: auto;">
                            <%= translate_words(item) %>
                          </th>
                          <% end %>
                  </tr>
                </thead>

                <tbody>
                  <% @options_calculations.each do |calc| %>
                    <tr>
                      <% calc.employee_data.each do |item| %>
                        <td>
                          <%= item.value %>
                        </td>
                        <% end %>
                          <% @column_names.each do |col_name| %>
                            <% if calc.send(col_name).respond_to? :name %>
                              <td>
                                <%= calc.send(col_name).name %>
                              </td>
                              <% else %>
                                <td>
                                  <%= calc.send(col_name) %>
                                </td>
                                <% end %>
                                  <% end %>
                                    <td>
                                      <a href=<%=edit_options_calculation_path(calc) %>><%= t('shared.edit') %></a>
                                    </td>
                    </tr>
                    <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

  <% else %>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
          <%= t('.title') %>
        </h6>
      </div>
      <div class="card-body" style="padding:1rem;">
        <p>
          <%= t('.description_missing_html') %>
        </p>
      </div>
    </div>
    <% end %>