<% content_for :title, flush: true do %>
    <b> <%= valuation.market_price %> € </b><span style="color:gray;"> • <%= valuation.effective_date %> </span>
<% end %>
<%= render 'shared/dropdown_item', {d: dom_id(valuation), edit_path: edit_valuation_path(valuation), obj: valuation, opened: false} do %>
    <div style="padding-right:1rem;">
        <%= t('shared.valuation.market_price') %> - <b><%= valuation.market_price %> €</b>
    </div>
    <div style="padding-right:1rem;">
        <%= t('shared.valuation.strike_price') %> - <b><%= valuation.strike_price %> €</b>
    </div>
    <div style="padding-right:1rem;">
        <%= valuation.description %>
    </div>
<% end %>



