
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><%=t('.emp_data_title') %></h6>
    </div>
    <div class="card-body" style="padding:1rem;">
        <p><%=t('.field_html') %></p>
        <p>
            <%=t('.previous_field_html') %>
        </p>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><%=t('.dates_title') %></h6>
    </div>
    <div class="card-body" style="padding:1rem;">
        <p>
            <%=t('.offset_gd_html') %>
        </p>
        <p>
            <%=t('.until_html') %>
        </p>
        <p>
        <%=t('.date_obj_html') %>
        </p>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><%=t('.val_title') %></h6>
    </div>
    <div class="card-body" style="padding:1rem;">
        <p>
            <%=t('.rel_s_p_html') %>
        </p>
        <p>
            <%=t('.rel_m_p_html') %>
        </p>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><%=t('.shares_title') %></h6>
    </div>
    <div class="card-body" style="padding:1rem;">
        <p>
            <%=t('.pr_share_amount_html') %>
        </p>
    </div>
</div>