<% content_for :title, flush: true do %>
    <b><%= grant_rule.grant_type.name %></b>
<% end %>
<%= render 'shared/dropdown_item', {d: dom_id(grant_rule), edit_path: edit_grant_rule_path(grant_rule), obj: grant_rule, opened: false} do %>
    <div style="padding-right:1rem;">
        <%= t('shared.grant_rule.vest_start') %> - <%= grant_rule.vesting_start %>
    </div>
    <div style="padding-right:1rem;">
        <%= t('shared.grant_rule.cliff') %> -  <%= grant_rule.cliff %>
    </div>
    <div style="padding-right:1rem;">
        <%= t('shared.grant_rule.tranches') %> - <%= grant_rule.tranches %>
    </div>
    <div style="padding-right:1rem;">
        <%= t('shared.grant_rule.share_number') %> - <%= grant_rule.share_number %>
    </div>
    <div style="padding-right:1rem;">
        <%= t('shared.grant_rule.trigger_message_html', trigger: translate_trigger(grant_rule.trigger.sub(/^[A-Z]/) {|f| f.downcase })) %>
    </div>
<% end %>