
<%= link_to grant_types_path, class: "btn btn-primary btn-circle btn-lg" do %>
  <%= material_icon.arrow_back.md_24 %>
<% end %>
<br>
<br>
<h1 class="h3 mb-0 text-gray-800"><%= @grant_type.name %></h1>
<div class="h8 mb-0 font-weight-bold text-gray-800">Last updated <%= @grant_type.updated_at %></div>
<div style="margin-top:10px;"> </div>
<%= render @grant_type %>


