<%= form_with(model: field, class: "user") do |form| %>
  <% if field.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(field.errors.count, "error") %> prohibited this field from being saved:</h2>

      <ul>
        <% field.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "form-control form-control-user" %>
  </div>

  <div>
    <%= form.label :field_type, style: "display: block" %>
    <%= form.select :field_type, ['String', 'Number', 'Date'],
    {}, { :class => "btn btn-block btn-rounded",
          :style => "background-color: white;border-color: #d1d3e2;" } %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description, class: "form-control form-control-user" %>
  </div>
  <br>
  <div>
    <%= form.submit class: "btn btn-primary btn-user btn-block btn-rounded" %>
  </div>
<% end %>
