<!DOCTYPE html>
<html>
  <head>
    <title>Employee Share Options Information System</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "sb-admin-2", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body <%= if current_page?(controller: 'devise/sessions', action: 'new') then "style=background-color:#9ab8db;" end %>>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
