<!DOCTYPE html>
<html>
  <head>
    <title>Employee Share Options Information System</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "sb-admin-2", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body id="page-top">
    <div id="wrapper">
        <%= render 'shared/participant_sidebar' %>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <%= render 'shared/admin_header' %>
                <div class="container-fluid">

                  <div class="alert alert-success alert-dismissible fade show" style="display:<%= notice.present? ? "block" : "none" %>;">
                    <%= notice %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                  </div>

                  <div class="alert alert-danger alert-dismissible fade show" style="display:<%= alert.present? ? "block" : "none" %>;">
                    <%= alert %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                  </div>

                <%= yield %>


                </div>

            </div>
            <%= render 'shared/footer' %>
        </div>

    </div>
  </body>
</html>
